.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .sliders-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 35rem;
    height: 35rem;
    border-radius: 4rem;
    background-color: white;
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.1);

    .slider {
      width: 70%;
      height: 4rem;
      font-size: 1.6rem;
    }
  }
}